@import "../../global.scss";

.testimonial{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-top: 20px;
        font-size: 50px;

        @include mobile{
            font-size: 20px;
        }
    }
    .container{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            flex-direction: column;
            height: 90%;
        }
        .card{
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 18px -8px;
            padding: 20px;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 1s ease;
            @include mobile{
                width: 230px;
                margin: 10px 0;
            }
            &.featured{
                width: 270px;
                height: 75%;
            }

            &:hover{
                transform: scale(1.1);
            }
            .top{
               display: flex;
               align-items: center;
               justify-content: center;
                margin-top: 30px;
                @include mobile{
                    margin-top: 0;
                }
               img{
                &.left,
                &.right{
                    height: 25px;
                    @include mobile{
                        height: 20px;
                    }
                }
                
                &.user{
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin:0px 30px;
                    @include mobile{
                        height: 40px;
                        width: 40px;
                    }
                    
                }
             
               }
            
            }
        }

        
        .center{
            p{
                padding:10px;
                background-color: rgb(241, 236, 237);
                border-radius: 10px;
                @include mobile{
                    font-size: 13px;
                }
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3{
                margin-bottom: 5px;
            }
            h4{
                color:rgb(148, 147, 147)
            }
        }
    }
}